.header {
    margin-bottom: 30px;
    background-color: #cdb4db;
    box-shadow: 1px 1px 1px 1px #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5px;
}
li {
    margin: 10px; 
}